/* Створити селектор кнопки з округлими краями, задати фоновий градієнт */
.button {
  border-radius: 5px; /* Округліть кути кнопки на 5 пікселів */
  background: var(
    --Gradient,
    linear-gradient(90deg, #2563eb 0.36%, #d946ef 201.02%)
  ); /* Задайте фоновий градієнт для кнопки */
  border: none; /* Видаліть межі кнопки */
}

.button a {
  text-decoration: none;
  color: #f9fafb;
  font-size: 14px;
  font-weight: 500;
  transition: 0.3s ease;
}

.button a:hover {
  color: #cacaca;
}

/* Стилізувати фонове зображення та шрифт для сторінки */
body {
  background: url(../img/global__bg.png); /* Задайте фонове зображення для сторінки */
  background-repeat: no-repeat; /* Забороніть повторення фонового зображення */
  background-size: cover; /* Задайте розмір фонового зображення на всю ширину та висоту екрана */
  background-position: center center; /* Задайте положення фонового зображення по центру сторінки */
  font-family: "DM Sans"; /* Задайте шрифт для всього тексту на сторінці */
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid red;
}

.solution-container {
  /* Зробіть, щоб елементи в цьому контейнері виглядали поруч */
}

.start-inner {
}

.start-title {
  /* Задайте градієнтний фон для тексту заголовка */
  /* Зробіть фоновий градієнт видимим тільки в межах тексту */
  color: hsla(hue, saturation, lightness, alpha);/* Зробіть колір тексту прозорим для використання градієнту */
  /* Додайте тінь для створення об'ємного ефекту */
  font-size: 58px;/* Розмір шрифту 58px */
  font-weight: 700;/* Товщина шрифту 700 */
  line-height: 84px;/* Висота рядка тексту 84px */
  letter-spacing: 1.16px;/* Відстань між символами 1.16px */
  bottom: 32px;/* Відстань від нижнього краю 32px */
}

.start-article {
  color: white;/* Колір тексту параграфа білого */
  /* Тінь тексту для створення об'ємного ефекту */
  font-size: 15px;/* Розмір шрифту 15px */
  font-weight: 500;/* Товщина шрифту 500 */
  /* Висота рядка тексту 30px */
  bottom: 32px;/* Відстань від нижнього краю 32px */
}

.start-buttons {
  /* Зробіть кнопки на блоку "start-buttons" вигнутими поруч */
}

.start-button {
  /* Встановіть відступи всередині кнопки 12 px та 24px */
  margin-right: 32px;/* Відступ справа від кнопки 32px */
}

.start-button-video {
  /* Зробіть кнопку для відео вигнутою в ряд */
  justify-content: center;/* Вирівняйте елементи по вертикалі по центру */
  /* Видаліть фон кнопки */
  color: white;/* Колір тексту кнопки білий */
  /* Видаліть межі кнопки */
}

.start-button-video span {
  margin-left: 10px;/* Відступ зліва на 10 від тексту кнопки */
  font-size: 16px;/* Розмір шрифту 16px*/
  font-weight: 500;/* Товщина шрифту 500*/
  line-height: normal;/* Звичайна висота рядка тексту */
}